<!DOCTYPE html>
{% load staticfiles %} <!-- In order to make use of static file for CSS styling -->

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Django Website</title>
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}"> <!-- Adding reference link
      for the CSS files -->
  </head>
  <body>
    <h1>Hi, welcome to the website! </h1>
    <h2>This is second line of our website! </h2>
    <p>Here's your access records! </p>

    <div class="djangtwo">
      {% if access_records %}
        <table> <!-- creating table in HTML -->
          <thead> <!-- creating table head -->
            <th>Site Name : </th>
            <th>Date Accessed: </th>
          </thead>
          {% for acc in access_records %}
            <tr> <!-- creating table rows -->

              <td>{{ acc.name }}</td>
              <td>{{ acc.date }}</td>

            </tr>
          {% endfor %}
        </table>

      {% else %}
        <p>NO ACCESS RECORDS FOUND! </p>

      {% endif %}
    </div>

  </body>
</html>
